@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');

.menu {
  position: static;
  /* font-size: 3vw; */
  max-width: 800px;
  margin: auto;
  background-color: #E11313;
  color:white;
  list-style-type: none;
  z-index: 1;
  height: 64px;
}
.menyTextTruck {
  font-size: 40px;
  font-weight: 700;
  color: white;
  float: left;
  position: relative;
  bottom: 7px;

}
.menyTextTruck:hover {
  text-decoration: none;
}

.menyTextUnder {
  font-size: 13px;
  font-weight: 400;
  color: white;
  position: relative;
  left: -125px;
  top:35px;

}

a.link {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

a.link:hover {
  color: black;
}

.blockOfLinks {
  margin-right: 10%;
  float: right;
  height: 100px;
  margin-top: 20px;

}

li {
  list-style-type: none;
  float: left;
}

.readMoreButton {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #E11313;
  height: 50px;
  width: 150px;
  border: 0px;
}

.textThreeColumns {
  font-size: 12px;
}
.serviceButton {
  color: black;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  height: 50px;
  width: 150px;
  border: 0px;
  margin-top: 30px;
}
